<div class="header-half">
<div class="h-100 header-text valign-wrapper header-wrapper">
  <div class="row">
    <div class="col s12">
      <a href="/" class="breadcrumb">Головна</a>
      <a href="/forum" class="breadcrumb">Форум</a>
      <a href="/forum" class="breadcrumb">Форум</a>
    </div>
  </div>
</div>
</div>
<section class="container single-topic">
<div class="row">
  <div class="col l9 s12">
    <div class="row">
      <div class="col l1">
        <div class="author">Grasdmsa</div>
      </div>
      <div class="col l11">
        <div class="topic card-bg">
          <h5 class="topic-header">single tipci</h5>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex
            odit iusto rem rerum esse a, reiciendis numquam obcaecati, ut
            blanditiis alias incidunt perferendis. Vitae suscipit minima
            porro iusto alias hic quia distinctio, dolore atque excepturi
            sequi consequuntur ex repellendus perspiciatis, dolores,
            praesentium quisquam enim fugiat blanditiis dicta! Saepe,
            deserunt soluta?
          </p>
          <div class="topic-footer">
            <div>Sun Feb 24, 2019 4:14 pm</div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col l1">
        <div class="author">Grasdmsa</div>
      </div>
      <div class="col l11">
        <div class="topic card-bg">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex
            odit iusto rem rerum esse a, reiciendis numquam obcaecati, ut
            blanditiis alias incidunt perferendis. Vitae suscipit minima
            porro iusto alias hic quia distinctio, dolore atque excepturi
            sequi consequuntur ex repellendus perspiciatis, dolores,
            praesentium quisquam enim fugiat blanditiis dicta! Saepe,
            deserunt soluta?
          </p>
          <div class="topic-footer">
            <div>Sun Feb 24, 2019 4:14 pm</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col l3 s12">
    <div class="card-panel card-bg">
      <h5 class="sidebar-title">Recent Topics</h5>
      <ul>
        <li><a href="#" class="sidebar-link">Lorem, ipsum.</a></li>
        <li><a href="#" class="sidebar-link">Lorem, ipsum.</a></li>
        <li><a href="#" class="sidebar-link">Lorem, ipsum.</a></li>
        <li><a href="#" class="sidebar-link">Lorem, ipsum.</a></li>
        <li><a href="#" class="sidebar-link">Lorem, ipsum.</a></li>
      </ul>
    </div>
  </div>
</div>
</section>