<div class="header-full">
<div class="h-100 header-text valign-wrapper header-wrapper">
  <h1 class="header-title">Lorem ipsum dolor sit amet.</h1>
  <div class="header-desc mb-2">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni,
    cumque.
  </div>
  <a class="waves-effect waves-light btn">Приєднатись</a>
</div>
</div>
<section class="container">
<h4 class="center-align mb-2">Що ви знайдете на нашому порталі?</h4>
<div class="row">
  <div class="col l4 s12">
    <div class="feature card-panel card-bg">
      <h5 class="feature-title">
        <i class="material-icons">insert_comment</i> Форум
      </h5>
      <p>Можливість обговорити будь-яку тему із однодумцями</p>
    </div>
  </div>
  <div class="col l4 s12">
    <div class="feature card-panel card-bg">
      <h5 class="feature-title">
        <i class="material-icons">headset</i> Відомі твори
      </h5>
      <p>Список найвідоміших творів із посиланнями на YouTube-ролики</p>
    </div>
  </div>
  <div class="col l4 s12">
    <div class="feature card-panel card-bg">
      <h5 class="feature-title">
        <i class="material-icons">dehaze</i> Список композиторів
      </h5>
      <p>
        Список та інформація про композиторів, що постійно збільшується
      </p>
    </div>
  </div>
  <div class="col l4 s12">
    <div class="feature card-panel card-bg">
      <h5 class="feature-title">
        <i class="material-icons">notifications_none</i> Свіжі новини
      </h5>
      <p>
        Свіжі новини із світу класичної музики та цікаві пости на цю тему
      </p>
    </div>
  </div>
  <div class="col l4 s12">
    <div class="feature card-panel card-bg">
      <h5 class="feature-title">
        <i class="material-icons">music_note</i> Ноти
      </h5>
      <p>
        Детальна інформація про ноти та їх походження. Цікаво та корисно!
      </p>
    </div>
  </div>
  <div class="col l4 s12">
    <div class="feature card-panel card-bg">
      <h5 class="feature-title">
        <i class="material-icons">people</i> Атмосфера
      </h5>
      <p>Чудова можливість відчути атмосферу світу класичної музики</p>
    </div>
  </div>
</div>
</section>
<section class="container compositions-section">
<h4 class="center-align mb-2">Випадкові композиції</h4>
<div class="carousel compositions-carousel">
  <div class="carousel-item compositions-carousel-item row w-100">
    <div class="col l6 s12">
      <h5>lorerem lorem1</h5>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Voluptatibus, cupiditate! Soluta, repellendus nam? Eos, excepturi
        iste! Nesciunt earum asperiores obcaecati!
      </p>
    </div>
    <div class="col l6 s12">
      <iframe
        width="100%"
        height="300"
        src="https://www.youtube.com/embed/ALqOKq0M6ho"
      >
      </iframe>
    </div>
  </div>
  <div class="carousel-item compositions-carousel-item row w-100">
    <div class="col l6 s12">
      <h5>lorerem lorem2</h5>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Voluptatibus, cupiditate! Soluta, repellendus nam? Eos, excepturi
        iste! Nesciunt earum asperiores obcaecati!
      </p>
    </div>
    <div class="col l6 s12">
      <iframe
        width="100%"
        height="300"
        src="https://www.youtube.com/embed/ALqOKq0M6ho"
      >
      </iframe>
    </div>
  </div>
</div>
</section>
<section class="container">
<h4 class="center-align mb-2 mt-2">Останні новини</h4>
<div class="row">
  <div class="col l3 s12">
    <div class="card card-bg">
      <div class="card-image">
        <img
          src="http://musicworldcollege.000webhostapp.com/public/img/posts/856-7240.jpg"
        />
        <div class="card-date">12-12-2020</div>
      </div>
      <div class="card-content">
        <span class="card-title">Card Title</span>
        <p>
          I am a very simple card. I am good at containing small bits of
          information. I am convenient because I require little markup to
          use effectively.
        </p>
        <div class="card-comment">
          <i class="tiny material-icons">mode_comment</i>
          <span class="count">2</span>
        </div>
      </div>

      <div class="card-action">
        <a href="#">Read</a>
      </div>
    </div>
  </div>
  <div class="col l3 s12">
    <div class="card card-bg">
      <div class="card-image">
        <img
          src="http://musicworldcollege.000webhostapp.com/public/img/posts/856-7240.jpg"
        />
        <div class="card-date">12-12-2020</div>
      </div>
      <div class="card-content">
        <span class="card-title">Card Title</span>
        <p>
          I am a very simple card. I am good at containing small bits of
          information. I am convenient because I require little markup to
          use effectively.
        </p>
        <div class="card-comment">
          <i class="tiny material-icons">mode_comment</i>
          <span class="count">2</span>
        </div>
      </div>

      <div class="card-action">
        <a href="#">Read</a>
      </div>
    </div>
  </div>
</div>
</section>