<div class="row table-block">
  <h1 class="title">Теги</h1>

  <div class="col l12">
    <table id="dataTable" >
      <thead>
        <tr>
          <th>Назва</th>
          <th>Редагувати</th>
          <th>Видалити</th>
        </tr>
      </thead>
      <tbody>
    
      <% @data.each do |post| %>
      <tr>
        <td><%= post['name'].truncate(50) %></td>
        <td>
            <a class="waves-effect waves-light btn-small" href="/admin/tags/<%= post['id'] %>/edit">
              Редагувати
            </a>
        </td>
        <td>
        <%= form_tag("/admin/tags/#{post['id']}",{:method => :delete}) do %>

          <button class="waves-effect waves-light btn-small red" type="submit">
            Видалити
          </button>
          <% end %>
        </td>
      </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>