
<div class="row">
<h1 class="title">Створити пост</h1>
<%= form_tag('/admin/posts',{:class => 'col s12 l8 form-content',:multipart => true}) do %>
  <div class="auth-error col s12">
    <% if @img_name %>
      <%= @img_name %>
    <% end %>
  </div>
    <div class="file-field input-field">
      <div class="btn btn-small">
        <span>Додати зображення</span>
        <input type="file" name="bg_img" accept="image/*">
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text">
      </div>
    </div>
      <div class="input-field col s12">
        <input id="theme" name="theme" type="text" />
        <label for="theme">Тема</label>
      </div>
      <div class="col s12">
        <h3 class="input-title">Категорії</h3>
        <% @tags.each do |tag|  %>
          <div>
            <label>
              <input type="checkbox" name="tags[]" value="<%= tag['id']%>" class="filled-in" />
              <span><%= tag['name'] %></span>
            </label>
          </div>
        <% end %>
      </div>
      <div class="col s12">
        <h3 class="input-title">Контент</h3>
    
        <input type="hidden" name="content">
        <div class="editor"></div>
      </div>
      <div class="col s12">
        <button class="waves-effect waves-light btn-small" type="submit">
          Опублікувати
        </button>
      </div>
    <% end %>
</div>


